<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script th:src="@{jquery/jquery-3.2.1.min.js}"></script>
    <link th:href="@{bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{bootstrap/js/bootstrap.js}"></script>
    <script>
        function confirmProtocol(obj) {
            if($(obj).prop("checked")){
                $("#button1").attr("disabled",false);
                $("#button1").removeClass("btn btn-default btn-block");
                $("#button1").addClass("btn btn-primary btn-block");
            }else{
                $("#button1").attr("disabled",true);
                $("#button1").removeClass("btn btn-primary btn-block");
                $("#button1").addClass("btn btn-default btn-block");
            }
        }
        function confirmPassword(obj) {
            if($(obj).val()==$("#pwd").val()){
                $("#label1").html("");
            } else{
                $("#label1").html("密码不同");
            }
        }
        function validateName(obj) {
            $.ajax({
                url: "/validateName",
                data:{"name":$(obj).val()},
                error:function (error) {
                    alert(error);
                },
                success: function(result){
                    if(!result)$("#validate").html("名字已占用");
                    else $("#validate").html("");

                }
            });
        }
    </script>
</head>
<body>
<span th:include="common::header"></span>
<div class="panel-heading">
    <h2>用户注册</h2>
</div>
<div class="panel-body">
    <form th:action="@{/register}" th:object="${user}" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">用户名</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name"
                       th:onchange="'javascript:validateName(this);'" th:field="*{name}" placeholder="请输入名字"/>
            </div>
            <p class="text-danger" id="validate"></p>
            <label for="name" class="control-label" th:errors="*{name}"></label>
        </div>
        <div class="form-group">
            <label for="pwd" class="col-sm-3 control-label">密码</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="pwd"  th:field="*{password}"
                       placeholder="请输入密码"/>
            </div>
            <label for="pwd" class="control-label" th:errors="*{password}"></label>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">确认密码</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"
                       placeholder="请输入密码" th:onchange="'javascript:confirmPassword(this);'"/>
            </div>
            <label  class="control-label" id="label1"></label>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">邮箱地址</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" th:field="*{email}"
                       placeholder="请输入邮箱"/>
            </div>
            <label  class="control-label" th:errors="*{email}"></label>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">手机号码</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" th:field="*{phoneNum}"
                       placeholder="请输入手机号码"/>
            </div>
            <label  class="control-label" th:errors="*{phoneNum}"></label>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" th:onclick="'javascript:confirmProtocol(this);'"/> 同意
                    </label>
                    <a th:href="@{protocol.html}" target="_blank">《淘宝服务协议》</a>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button id="button1" type="submit" disabled="disabled"
                        class="btn btn-default btn-block">马上注册</button>
            </div>
            <div class="col-sm-offset-6 col-sm-6">
                <h4 th:text="${result}"></h4>
            </div>
        </div>
    </form>
</div>
</body>
</html>